@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FrotiX.Pages.Motorista.UpsertModel

@{
    ViewData["Title"] = "Motoristas";
    ViewData["PageName"] = "motorista_upsert";
    ViewData["Heading"] = "<i class='fad fa-user-tie'></i> Cadastros: <span class='fw-300'>Motoristas</span>";
    ViewData["Category1"] = "Cadastros";
    ViewData["PageIcon"] = "fa-regular fa-user-tie";
}

<style>
    /* Estilos mínimos - NÃO interferir com Syncfusion */
    .form-control-xs {
        min-height: 2.25rem;
        padding: 0.4rem 0.6rem;
        font-size: 0.9rem;
    }
    
    .form-group {
        margin-bottom: 1rem;
    }
    
    .row + .row {
        margin-top: 0.5rem;
    }
</style>

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-container show">
                    <div class="panel-content">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        @if (Model.MotoristaObj.Motorista.MotoristaId != Guid.Empty)
                        {
                            <input type="hidden" asp-for="MotoristaObj.Motorista.MotoristaId" />
                        }
                        <input type="hidden" asp-for="MotoristaObj.Motorista.UsuarioIdAlteracao" />

                        <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                            <h2 class="titulo-paginas d-flex align-items-center pb-3">
                                <i class="fa-duotone fa-solid fa-user-tie fa-xl me-2 icon-150" aria-hidden="true"></i>
                                @(Model.MotoristaObj.Motorista.MotoristaId != Guid.Empty ? "Atualizar " : "Criar ") Motorista
                            </h2>
                        </div>

                        <div class="col-12 pt-3">
                            <!-- LINHA 1: Nome, CPF, Ponto -->
                            <div class="row">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label asp-for="MotoristaObj.Motorista.Nome">Nome <span class="text-danger">*</span></label>
                                        <span class="text-danger" asp-validation-for="MotoristaObj.Motorista.Nome"></span>
                                        <input id="txtNome" class="form-control form-control-xs" asp-for="MotoristaObj.Motorista.Nome" />
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="MotoristaObj.Motorista.CPF">CPF <span class="text-danger">*</span></label>
                                        <span class="text-danger" asp-validation-for="MotoristaObj.Motorista.CPF"></span>
                                        <input id="txtCPF" class="form-control form-control-xs" asp-for="MotoristaObj.Motorista.CPF" />
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="form-group">
                                        <label asp-for="MotoristaObj.Motorista.Ponto"></label>
                                        <span class="text-danger" asp-validation-for="MotoristaObj.Motorista.Ponto"></span>
                                        <input class="form-control form-control-xs" asp-for="MotoristaObj.Motorista.Ponto" />
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="form-group">
                                        <label asp-for="MotoristaObj.Motorista.CodMotoristaQCard"></label>
                                        <span class="text-danger" asp-validation-for="MotoristaObj.Motorista.CodMotoristaQCard"></span>
                                        <input class="form-control form-control-xs" asp-for="MotoristaObj.Motorista.CodMotoristaQCard" />
                                    </div>
                                </div>
                            </div>

                            <!-- LINHA 2: Data Nascimento, CNH, Categoria, Data Vencimento CNH -->
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="MotoristaObj.Motorista.DataNascimento">Data de Nascimento <span class="text-danger">*</span></label>
                                        <span class="text-danger" asp-validation-for="MotoristaObj.Motorista.DataNascimento"></span>
                                        <input id="txtDataNascimento" class="form-control form-control-xs" type="date" asp-for="MotoristaObj.Motorista.DataNascimento" />
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="MotoristaObj.Motorista.CNH">CNH <span class="text-danger">*</span></label>
                                        <span class="text-danger" asp-validation-for="MotoristaObj.Motorista.CNH"></span>
                                        <input id="txtCNH" class="form-control form-control-xs" asp-for="MotoristaObj.Motorista.CNH" />
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="MotoristaObj.Motorista.CategoriaCNH">Categoria Habilitação <span class="text-danger">*</span></label>
                                        <span class="text-danger" asp-validation-for="MotoristaObj.Motorista.CategoriaCNH"></span>
                                        <input id="txtCategoriaCNH" class="form-control form-control-xs" asp-for="MotoristaObj.Motorista.CategoriaCNH" />
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="MotoristaObj.Motorista.DataVencimentoCNH">Data Vencimento CNH <span class="text-danger">*</span></label>
                                        <span class="text-danger" asp-validation-for="MotoristaObj.Motorista.DataVencimentoCNH"></span>
                                        <input id="txtDataVencimentoCNH" class="form-control form-control-xs" type="date" asp-for="MotoristaObj.Motorista.DataVencimentoCNH" />
                                    </div>
                                </div>
                            </div>

                            <!-- LINHA 3: Celulares -->
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="MotoristaObj.Motorista.Celular01">Primeiro Celular <span class="text-danger">*</span></label>
                                        <span class="text-danger" asp-validation-for="MotoristaObj.Motorista.Celular01"></span>
                                        <input id="txtCelular01" class="form-control form-control-xs" asp-for="MotoristaObj.Motorista.Celular01" />
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="MotoristaObj.Motorista.Celular02">Segundo Celular</label>
                                        <span class="text-danger" asp-validation-for="MotoristaObj.Motorista.Celular02"></span>
                                        <input id="txtCelular02" class="form-control form-control-xs" asp-for="MotoristaObj.Motorista.Celular02" />
                                    </div>
                                </div>
                            </div>

                            <!-- LINHA 4: Data Ingresso, Unidade, Tipo Condutor, Efetivo/Ferista -->
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="MotoristaObj.Motorista.DataIngresso">Data Ingresso <span class="text-danger">*</span></label>
                                        <span class="text-danger" asp-validation-for="MotoristaObj.Motorista.DataIngresso"></span>
                                        <input id="txtDataIngresso" class="form-control form-control-xs" type="date" asp-for="MotoristaObj.Motorista.DataIngresso" />
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="MotoristaObj.Motorista.UnidadeId">Unidade Vinculada <span class="text-danger">*</span></label>
                                        <span class="text-danger" asp-validation-for="MotoristaObj.Motorista.UnidadeId"></span>
                                        @Html.DropDownListFor(
                                            m => m.MotoristaObj.Motorista.UnidadeId,
                                            Model.MotoristaObj.UnidadeList,
                                            "-- Selecione uma Unidade --",
                                            new { @class = "form-control form-control-xs", @id = "ddlUnidade" }
                                        )
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="MotoristaObj.Motorista.TipoCondutor">Tipo Condutor <span class="text-danger">*</span></label>
                                        <span class="text-danger" asp-validation-for="MotoristaObj.Motorista.TipoCondutor"></span>
                                        <select id="ddlTipoCondutor" class="form-control form-control-xs" asp-for="MotoristaObj.Motorista.TipoCondutor">
                                            <option value="">-- Selecione o Tipo --</option>
                                            <option value="Motorista">Motorista</option>
                                            <option value="Condutor">Condutor</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="form-group">
                                        <label asp-for="MotoristaObj.Motorista.EfetivoFerista">Efetivo / Ferista <span class="text-danger">*</span></label>
                                        <span class="text-danger" asp-validation-for="MotoristaObj.Motorista.EfetivoFerista"></span>
                                        <select id="ddlEfetivoFerista" class="form-control form-control-xs" asp-for="MotoristaObj.Motorista.EfetivoFerista">
                                            <option value="">-- Selecione --</option>
                                            <option value="Efetivo">Efetivo</option>
                                            <option value="Ferista">Ferista</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- LINHA 5: Contrato -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="MotoristaObj.Motorista.ContratoId"></label>
                                        <span class="text-danger" asp-validation-for="MotoristaObj.Motorista.ContratoId"></span>
                                        @Html.DropDownListFor(
                                            m => m.MotoristaObj.Motorista.ContratoId,
                                            Model.MotoristaObj.ContratoList,
                                            "-- Selecione um Contrato --",
                                            new { @class = "form-control form-control-xs" }
                                        )
                                    </div>
                                </div>
                            </div>

                            <!-- LINHA 6: Upload de Foto com Preview -->
                            <div class="row">
                                <div class="col-9">
                                    <div class="form-group">
                                        <label>Foto do Motorista</label>
                                        <input type="file" id="fotoUpload" name="FotoUpload" class="form-control form-control-xs" accept="image/*" />
                                        <small class="text-muted">Selecione uma foto para o motorista (formatos aceitos: JPG, PNG, GIF)</small>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Preview</label>
                                        <div style="border: 2px solid #dee2e6; border-radius: 8px; padding: 10px; background-color: #f8f9fa; text-align: center; min-height: 120px; display: flex; align-items: center; justify-content: center;">
                                            @if (Model.MotoristaObj.Motorista.MotoristaId != Guid.Empty)
                                            {
                                                if (Model.MotoristaObj.Motorista.Foto != null)
                                                {
                                                    var base64Foto = Convert.ToBase64String(Model.MotoristaObj.Motorista.Foto);
                                                    var imgSrc = $"data:image/jpeg;base64,{base64Foto}";
                                                    <img id="imgPreview" src="@imgSrc" alt="Foto do Motorista" style="max-width: 100%; max-height: 150px; display: block; border-radius: 4px;" />
                                                }
                                                else
                                                {
                                                    <!-- Motorista sem foto: mostra barbudo.jpg como padrão -->
                                                    <img id="imgPreview" src="/Images/barbudo.jpg" alt="Foto Padrão" style="max-width: 100%; max-height: 150px; display: block; border-radius: 4px;" />
                                                }
                                                <span id="txtSemFoto" style="display: none;"></span>
                                            }
                                            else
                                            {
                                                <!-- Novo motorista: barbudo.jpg será carregado via JavaScript -->
                                                <img id="imgPreview" src="" alt="Preview da Foto" style="max-width: 100%; max-height: 150px; display: none; border-radius: 4px;" />
                                                <span id="txtSemFoto" style="color: #6c757d; font-size: 0.85rem;">Nenhuma foto selecionada</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- LINHA 7: Checkbox Status -->
                            <div class="row" style="margin-top: 1.5rem; border-top: 1px solid #dee2e6; padding-top: 1rem;">
                                <div class="col-3">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="chkStatus" asp-for="MotoristaObj.Motorista.Status" />
                                        <label class="form-check-label" for="chkStatus">
                                            Ativo/Inativo
                                        </label>
                                    </div>
                                </div>
                            </div>

                            @if (Model.MotoristaObj.Motorista.MotoristaId != Guid.Empty)
                            {
                                <div class="row" style="margin-top: 1rem;">
                                    <div class="col-12">
                                        <small class="text-muted">
                                            Alterado/Incluído por @Model.MotoristaObj.NomeUsuarioAlteracao
                                            em @Model.MotoristaObj.Motorista.DataAlteracao?.ToString("dd/MM/yy")
                                            às @Model.MotoristaObj.Motorista.DataAlteracao?.ToString("HH:mm")
                                        </small>
                                    </div>
                                </div>
                            }

                            <!-- BOTÕES -->
                            <div class="row" style="margin-top: 2rem;">
                                <div class="col-6">
                                    @if (Model.MotoristaObj.Motorista.MotoristaId != Guid.Empty)
                                    {
                                        <button type="submit"
                                                asp-page-handler="Edit"
                                                asp-route-id="@Model.MotoristaObj.Motorista.MotoristaId"
                                                class="btn btn-azul btn-block"
                                                onclick="return validarFormulario();">
                                            <i class="fa-duotone fa-file-plus"></i> Atualizar
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="submit"
                                                asp-page-handler="Submit"
                                                class="btn btn-azul btn-block"
                                                onclick="return validarFormulario();">
                                            <i class="fa-duotone fa-file-plus"></i> Criar
                                        </button>
                                    }
                                </div>
                                <div class="col-6">
                                    <a asp-page="./Index" class="btn btn-vinho btn-block">
                                        <i class="fa-solid fa-rotate-left"></i> Voltar à Lista
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section ScriptsBlock {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="~/js/cadastros/motorista_upsert.js" asp-append-version="true"></script>
}
